/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do tabuleiro */
.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #000000;
}
